.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  .prpfilrPic {
    border-radius: 40px;
    width: 60%;
    height: 90%;
  }
}
.Name {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  .name-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 36px;   
  }
  .des {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .para-containter {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    .para {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      .p1 {
        font-size: 18px;
        font-weight: bold;
      }
      .p2 {
        font-size: 16px;
      }
    }
  }
}

.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  .e-logo {
    width: 70%;
    height: 5vh;   
  }
  .icon-container{
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    .icons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
  }
  
}

.tittle {
  font-size: 18px;
  font-weight: bold;
}
.about {
    text-align: justify;
    padding: 3%;
    font-size: 16px;
  }
.skilldetail {
  color: grey;
  text-align: justify;
  font-size: 16px;
}

