
.e-employement-type{
 margin-top: 5%;
 
}
.e-company-name{
    margin-top:5%
}
// .e-css-1fdsijx-ValueContainer{
//     height: 55px;
// }
.e-location{
    margin-top: 5%;
}
.e-checkbox{
    margin-top: 5%;
}
.e-description{
    margin-top: 5%;
}
.e-skills{
    margin-top: 5%;
}