.p-checkbox-header{
    color:grey;
    margin-bottom: 1%;
    margin-top: -2%;
}
.p-skill{
    margin-top: -3%;
}
.h3{
    font-weight: 500;
}
.checkbox-lebel{
    fontSize:14px;
    color: grey;
}
.p-list{
    margin-top: 0%;
    margin-bottom: 4%;
}
.padding-bottom{
    margin-bottom:20px;
}