.header {
  height: 10vh;
  width: 100vw;
  background-color: white;

  .toolbar {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .boxone {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 7%;
    }

    .searchbox {
      border: 2px solid whitesmoke;

      width: 40vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 5px;

      .searchbutton {
        width: 10%;
        height: 90%;
        cursor: pointer;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: transparent;
      }

      .searchfield {
        width: 85%;
        border: none;
        height: 70%;
        border: none;
        outline: none;
        background-color: white;
      }
    }

    .iconsbox {
      width: 20%;
      height: auto;
      display: flex;
      justify-content:space-between;
      // height: 100%;
      // display: flex;
      // justify-content: space-between;
      // margin-right: 3rem;

      .icon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      .iconstext {
        color: black;
        font-size: small;
      }
    }
  }
}

@media only screen and (min-width: 300px) {
  .boxone {
    display: flex;
    flex-direction: column;
  }
  .iconsbox {
    width: 10%;
    margin-right: 40%;
  }
  .logo {
    height: 26%;
    margin-top: 4px;
  }
  .searchbox {
    height: 42%;
    margin-top: 4px;
  }
  .searchfield {
    display: none;
  }

}

@media only screen and (min-width: 600px) {
  .boxone {
    display: flex;
    flex-direction: row;
  }

  .iconsbox {
    width: 25%;
    margin-right: 20%;
  }
  .logo {
    height: 45%;
  }
  .searchbox {
    
    height: 60%;
  }
  .searchfield {
    font-size: 14px;
    display: block;
  }
}
@media only screen and (min-width: 1000px) {
  .iconsbox {
    width: 25%;
    margin-right: 5%;
  }
}