.header {
  height: 8vh;
  width: 100vw;
  background-color: white;

  .toolbar {
    background-color: white;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .boxone{     
      height: 100%;      
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5%;
    }
    .logo {
      height: 45%;      
    }
    .searchbox {
      border: 2px solid whitesmoke;
      height: 60%;
      width: 40vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 5px;
     
      .searchbutton {
        width: 10%;
        height: 90%;
        cursor: pointer;
        font-size: 20px;
        border: none;
        outline: none;
        background-color: transparent;
      }

      .searchfield {
        width: 85%;
        border: none;
        height: 70%;
        border: none;
        outline: none;
        background-color: white;
      }
    }

    .iconsbox {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      margin-right: 3rem;

      .icon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      .iconstext {
        color: black;
        font-size: small;
      }
    }
  }
}
