.jobcontainer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.jobtitle {
  color: #03286d;
  font-size: 26px;
}
.workLocation {
  font-size: 16px;
}
