.container {
  background-color: #f7f7f9;
  width: 100vw; 
  min-height: 95vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
