
.employement-type{
 margin-top: 5%;
 
}
.company-name{
    margin-top:5%
}
.css-1fdsijx-ValueContainer{
    height: 55px;
}
.location{
    margin-top: 5%;
}
.checkbox{
    margin-top: 5%;
}
.description{
    margin-top: 5%;
}
.skills{
    margin-top: 5%;
}