
.home-container{  
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
  gap: 1.5rem;
}
.banner{  
  width: 99%;
  height: auto;  
  
}
.jobcontainer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  
}
.jobtitle {
  color: #03286d;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.workLocation {
  font-size: 14px;
  color: gray;
  text-align: center;  
}
.more-button{
  width: 100%;  
  
}
.error-dialog{
  align-self: flex-start;
}