.expbox{
    //border: 1px solid black;
    height: auto;
    width: 90%;
}
.seemore{
    color: blue;
    align-self: flex-end;
}
.projectdetails{
    display: flex;
    justify-content: space-between;
}