.ep-checkbox-header{
    color:#000;
    margin-bottom: 1%;
    margin-top: 1%;
}
.ep-skill{
    margin-top: -3%;
}
.e-h3{
    font-weight: 500;
    margin-top: 0%;
}
.e-checkbox-lebel{
    fontSize:14px;
    color: grey;
}
.ep-list{
    margin-top: 0%;
    margin-bottom: 4%;
}
.e-padding-bottom{
    margin-bottom:20px;
}