
.form-box{
    width: 100%;
    height: 30vh;
    margin: 0vw;
    padding: 2% ;
    
}
.edit-input {

}
.skillform{
    display: flex;
    flex-direction: column;

}
text{
    height: 10px;
    
}
.fr{
    width:"50%";
    margin:"auto";
    padding:20;
    border:"1px solids black";
    
}


