.rr {
  background-color: white;
  width: 50%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}
.text {
  font-size: 14px;
}
.rrfieldsbox{
    //border: 1px solid black;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;    
}
.rrfields{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.text2{
    color: blue;
    font-size: 14px;
}